# DST 运行时环境变量示例
# 复制此文件为 .env 并根据需要修改（如果修改 DST_CLUSTER_NAME，必须确保 ./data/<cluster> 目录与之对应）
DST_UPDATE_MODE=install-only
DST_SERVER_MODS_UPDATE_MODE=runtime
DST_CLUSTER_NAME=Cluster_1
DST_MASTER_HOST_PORT=10999
DST_CAVES_HOST_PORT=11000
DST_STEAM_HOST_PORT=27015
TZ=Asia/Shanghai
